body{
    margin: 0;
    width: 100%;
}
input[type="radio"] {
    width: 0;
    height: 0;
    visibility: hidden;
}
#content{
    background: black;
    max-width: 70%;
    margin: auto;
    display: grid;
    grid-template-rows: 0 0 0 0 0 35em 8em;
    overflow: hidden;
    margin-top: 5em;
}
#slider{
    display: flex;
    width: 500%;
}
.slides{
    width: 100%;
    height: 100%;
}
.slides img{
    width: 100%;
    height: 100%;
}
#footer{
    display: grid;
    grid-template-columns: 70% 30%;
}
#description{
    height: 69%;
}
#description p{
    height: 75%;
    color: white;
}
#buttons{
    height: 69%;
    display: grid;
    grid-template-columns: repeat(5,3em);
    column-gap: 0.4em;
}
.activebutton{
    height: 3em;
    vertical-align: middle;
    display: flex;
    /* cursor: pointer; */
}
.botton{
    width: 1.5em;
    height: 1.5em;
    border: 0.5rem solid black;
    border-radius: 50%;
    background: aqua;
    margin: auto;
    cursor: pointer;
}
.botton:hover{
    /* background: white; */
    cursor: pointer;
    transform: scale(1.2);
}
.activebutton:hover{
    /* cursor: pointer; */
}
.botton:active{
    background: red;
}
@keyframes slide {
    0% {transform: scale(.8);}
  80% {transform: scale(.5);}
  100% {transform: scale(1.5);}
}

#slide1:checked ~ #footer #buttons .activebutton:nth-child(1) .botton,
#slide2:checked ~ #footer #buttons .activebutton:nth-child(2) .botton,
#slide3:checked ~ #footer #buttons .activebutton:nth-child(3) .botton,
#slide4:checked ~ #footer #buttons .activebutton:nth-child(4) .botton,
#slide5:checked ~ #footer #buttons .activebutton:nth-child(5) .botton{
  background: red;
  width: 2em;
}